.img-about-bg {
  background-image: url('../../images/bg.jpg');
  background-size: cover;
  height: 100vh;
  left: 0;
  opacity: 0.2;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.main-about-bg {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 120px 0px 100px 0px;
  position: relative;
}

.main-about-container {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway';
  font-weight: 600;
  gap: 12px;
  margin: 0 auto;
  max-width: 85vw;
  position: relative;
  z-index: 1;
}

.main-about-container h2 span{
  color: #52B788;
}

.main-about-container h1, h2 {
  color: #FFF;
  font-weight: 700;
}

.main-about-container h1 {
  font-size: 52px;
}

.main-about-container h2 {
  font-size: 36px;
}

.main-about-container p {
  color: #FFF;
  font-size: 20px;
  margin-top: 12px;
  position: relative;
  z-index: 1;
}

.skill-subtitle {
  border-bottom: 2px solid #52B788;
  color: #FFF;
  font-family: 'Raleway', 'sans-serif';
  font-size: 32px;
  margin-bottom: 32px;
  padding-bottom: 24px;
  padding: 36px 0;
  position: relative;
  text-align: center;
  z-index: 1;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  width: 85vw;
  z-index: 1;
}

.skill {
  align-items: center;
  background-color: #151515;
  border-radius: 12px;
  border: none;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', 'sans-serif';
  font-size: 14px;
  padding: 12px;
  transition: all ease 0.2s;
  width: 68px;
}

.skill-icon-bg {
  align-items: center;
  background-color: #111;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  padding: 10px;
}

.skill h4 {
  letter-spacing: 0.6px;
  text-align: center;
  transition: color ease 0.4s;
}

.skill:hover h4 {
  color: #52B788;
}

.skill:hover {
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.8);
  transform: translateY(-6px);
}

p span {
  color: #52B788;
}

.skills-section-bg {
  margin: 0 auto;
}

@media (min-width : 750px) {
  .skills-container {
    justify-content: flex-start;
  }

  .skill-subtitle {
    font-size: 32px;
  }
}