.contact-modal {
  align-items: flex-end;
  background-color: #1B4332;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  bottom: 0;
  display: flex;
  height: 15px;
  justify-content: center;
  left: calc(50vw - (15vw + 70px));
  padding: 35px 70px 5px 70px;
  position: absolute;
  width: 30vw;
}

.contact-modal button {
  background-color: transparent;
  border: none;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto', 'sans-serif';
  font-size: 15px;
  margin-bottom: 2px;
  min-width: 90px;
  position: relative;
  transition: color ease 0.2s;
}

.contact-modal button::after {
  content: url('../../images/icons/arrow.svg');
  left: calc(50% - 10px);
  position: absolute;
  top: -22px;
}

.contact-list {
  display: none;
}

.modal-container.open {
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.contact-modal.open {
  flex-direction: column;
  align-items: center;
  height: 300px;
  justify-content: flex-start;
}

.contact-modal.open:hover {
  box-shadow: 0 0 0;
}

.contact-list.open {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: fit-content;
  margin-top: 40px;
  width: calc(5vw + 180px);
}

.contact-modal.open button::after {
  top: -29px;
  transform: rotate(180deg);
}

.contact-list li {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.88);
  border-radius: 16px;
  color: #FFF;
  cursor: pointer;
  display: flex;
  gap: 16px;
  padding: 16px;
}

.contact-list li:hover {
  background-color: rgba(0, 0, 0, 0.92);
}

.contact-list a {
  font-family: 'Poppins';
  letter-spacing: 5px;
  transition: color ease 0.2s;
}

.contact-list li:hover a {
  color: #52B788;
}

@media (min-width : 745px) {
  .modal-container, .modal-container.open {
    height: fit-content;
    position: absolute;
    top: 98%;
    width: fit-content;
    z-index: 100;
  }

  .contact-modal, .contact-modal.open {
    background-color: transparent;
    height: fit-content;
    left: calc(50vw - 280px);
    padding: 10px;
    position: absolute;
    width: fit-content;
  }

  .contact-modal button {
    display: none;
  }

  .contact-list, .contact-list.open {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 0;
    padding: 0;
    width: fit-content;
  }

  .contact-list li {
    gap: 20px;
  }
}