.title {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.title span {
  font-family: 'Raleway', 'sans-serif';
  font-size: 48px;
  font-weight: 800;
  color: #52B788;
}

.surname span {
  font-size: 40px;
  color: #FFF;
  cursor: pointer;
}

.surname span:not(:last-child) {
  font-weight: 600;
  letter-spacing: 30px;
  transition: color ease 0.2s;
}

.surname span:hover {
  color: #52B788;
}

@media  (min-width : 375px) {
  .title span {
   font-size: 64px;
  }
}

@media  (min-width : 745px) {
  .title span {
   font-size: 112px;
  }
}