.main-home-bg {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 30px;
  position: relative;
}

.img-bg {
  background-image: url('../../images/bg.jpg');
  background-size: cover;
  height: 100vh;
  left: 0;
  opacity: 0.3;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 0;
}

.main-home-container {
  padding-top: 90px;
}

@media  (min-width : 375px) {
  .main-home-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 900px;
    width: 90vw;
  }
}

@media  (min-width : 745px) {
  .main-home-bg {
    padding-top: 90px;
  }
}