@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.header-bg {
  background-color: #081c15ce;
  display: flex;
  font-weight: 700;
  height: 55px;
  width: 100vw;
}

.menu-container {
  align-self: flex-end;
  flex: 1;
  height: fit-content;
  margin: 0 auto;
  max-width: 900px;
}

.menu-list {
  display: flex;
  justify-content: space-around;
  height: 51.5px;
}

.menu-list li {
  flex: 1;
  transition: all ease 0.3s;
  padding-bottom: 3.5px;
}

.menu-list li a {
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: all ease 0.3s;
}

.menu-list li a:hover {
  color: #52B788 !important;
}

@media (min-width : 750px) {
  .header-bg {
    height: 70px;
  }
  
  .menu-list {
    display: flex;
    justify-content: space-around;
    height: 66.5px;
  }

  .menu-list li a {
    font-size: 16px;
  }
}