  #about {
    height: 5vh;
  }

  .about-me-section {
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
  }

  .about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-bar {
    background-color: #ff8206;
    margin: 2px 0;
    padding: 4px;
    width: 100px;
  }

  .about-me-content {
    font-size: 18px;
    margin: 20px 45px;
  }

  .skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45vh;
    justify-content: space-around;
  }

  .skills-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    .skills-bar {
      background-color: #ff8206;
      margin: 0;
      padding: 4px;
      width: 95px;
    }

    .skills-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .skill {
      background-color: #3570ac;
      padding: 9px;
      border-radius: 22px;
      margin: 5px;
      border: none;
      color: white;
    }

    .skill:hover {
      background-color: #007dfa;
      box-shadow: 2px 15px 50px black;
      transition: 0.8s !important;
    }

    .projects-btn {
      font-size: 20px !important;
      border-radius: 25px !important;
      height: 60px;
      width: 140px;
    }

@media screen and (min-width : 600px) and (max-width : 1200px) {
  #about {
    height: 1vh;
  }

  .about-me-section {
    height: 95vh;
  }

  .about-me-content {
    margin: 0 55px;
    font-size: 20px;
  }

  .skill {
    font-size: 20px;
  }

}

@media screen and (min-width : 991px) {
  #about {
    height: 10.5vh;
  }

  .about-me-content {
    font-size: 23px;
    margin: 0 45px;
  }

  .about-me-section {
    justify-content: space-between;
    margin: 0 35px;
  }

  .about-title h2 {
    font-size: 36px;
  }

  .about-bar {
    width: 160px;
  }

  .skill {
    font-size: 22px;
    padding: 14px;
    margin: 7px;
  }

  .projects-btn {
    font-size: 25px !important;
    border-radius: 25px !important;
    height: 70px;
    width: 160px;
    position: relative;
    bottom: 15px;
  }

  .skills-section {
    justify-content: space-between;
    height: 46vh;
  }

  .skills-title h2 {
    font-size: 36px;
  }

  .skills-bar {
    width: 110px;
  }

}
