.about-section {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
  background: url('../Images/Background2.jpg');
  background-size: cover;
  text-shadow: 1px 1px 8px black;
  font-weight: 500;
}

.shadow-top {
  position: absolute;
  top: 99.8vh;
  height: 13.5vh;
  width: 100%;
  z-index: 2;
  background: linear-gradient(to bottom, #151515, transparent);
}

.about-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 87vh;
  justify-content: space-between;
}

.about-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-bar {
  background-color: #ff8206;
  margin: 2px 0;
  padding: 4px;
  width: 100px;
}

.about-content {
  font-size: 18px;
  width: 85vw;
}

.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 38vh;
  justify-content: space-evenly;
}

.skills-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 1px 1px 8px black;
}

.skills-bar {
  background-color: #ff8206;
  margin: 0;
  padding: 4px;
  width: 95px;
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill {
  background-color: #3570ac;
  padding: 9px;
  border-radius: 22px;
  margin: 5px;
  border: none;
  color: white;
  position: relative;
  z-index: 8;
}

.skill:hover {
  background-color: #007dfa;
  box-shadow: 2px 15px 50px black;
  transition: 0.3s !important;
}

.front-end {
  background-color: #35ac3f;
}

.front-end:hover {
  background-color: #06bd15;
}

.back-end {
  background-color: #7335ac;
}

.back-end:hover {
  background-color: #6300c0;
}

.skills-arrow {
  transform: rotate(90deg);
}

.skills-arrow-container {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  opacity: 0.6;
  padding-top: 2vh;
  transition: all ease 0.3s;
  color: white;
  position: relative;
  z-index: 9;
}

.skills-arrow-container:hover {
  opacity: 1;
  color: white;
}


@media screen and ( min-width : 600px ) {
  
  h2 {
    font-size: 31px !important;
  }
  
  .about-content {
    font-size: 25px;
  }

  .skills-container {
    font-size: 22px;
  }
}