.contact-section {
  align-items: center;
  color: white;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(to top, #171717, #066aff);
}

.contact-container {
  display: flex;
  height: 45vh;
  margin: auto 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

  .contact-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-title h2{
    font-size: 40px !important;
  }

  .contact-bar {
    background-color: black;
    padding: 3.5px;
    width: 177px;
  }

  .gitIcon {
    transition: all ease 0.3s !important;
    font-size: 16.5vh;
    color: white;
  }

  .gitIcon:hover {
    color: black;
  }

  .linkedinIcon {
    font-size: 16.5vh;
    color: white;
    transition: all ease 0.3s !important;
  }

  .linkedinIcon:hover {
    color: #0e76a8;
  }

  .contact-links {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    background-color: #171717;
    padding: 15px 0;
    border-radius: 10px;
  }
