/* @media screen and (max-width : 600px) { */
.contact-section {
  align-items: center;
  color: white;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(to top, #171717, #066aff);
}

.contact-container {
  display: flex;
  height: 58.5vw;
  margin: auto 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

  .contact-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-title h2{
    font-size: 9.5vw;
  }

  .contact-bar {
    background-color: black;
    padding: 3.5px;
    width: 37.5vw;
  }

  .gitIcon {
    transition: all ease 0.3s !important;
    font-size: 16.5vh;
    color: white;
  }

  .gitIcon:hover {
    color: black;
  }

  .linkedinIcon {
    font-size: 16.5vh;
    color: white;
    transition: all ease 0.3s !important;
  }

  .linkedinIcon:hover {
    color: #0e76a8;
  }

  .contact-links {
    width: 39vh;
    display: flex;
    justify-content: space-between;
  } 

/* 





  .contact-items {
    display: flex;
    background: linear-gradient(to bottom, black,#2b2a2a);
    border-radius: 8px;
    height: 15vh;
    position: relative;
    top: 50px;
    width: 35vh;
    box-shadow: 5px 15px 40px black;
    justify-content: space-around;
    align-items: center;
  } 

@media screen and (min-width : 600px) and (max-width : 990px) {
  .contact-items {
    height: 17vh;
    width: 55vh;
  }
}

@media screen and (min-width : 991px) {
  .contact-items {
    height: 25vh;
    width: 80vh;
  }

  .contact-title h2 {
    font-size: 40px;
  }

  .contact-bar {
    width: 200px;
  }
}
 */
