  .main-content { 
    color: white;
  }

  .content{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 74vh;
    justify-content: space-around;
    margin: auto;
    font-size: 22px;
    font-weight: 800;
  }

  .welcome-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 9vh;
  }

  .welcome-bar {
    background-color: #041b5a;
    padding: 4px;
    width: 230px;
  }

  .description {
    color: #ffffff;
    text-shadow:  2px 7px 15px #151515;
    height: 22vh;
  }

  .apresentation {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .profile {
    display: none;
    width: 190px;
    align-self: flex-end;
    border-radius: 12px;
    box-shadow: 12px 10px 16px black
  }

  .about-section {
    display: flex;
    justify-content: space-between;
    background-image: url('../Images/Background4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    background: linear-gradient(to top, #151515, tranparent);
    overflow: hidden !important;
    margin: 36px 0px;
  }

  .find-out-btn {
    border-radius: 25px !important;
    height: 70px;
    font-size: 20px !important;
    width: 170px;
  }

  .shadow {
    position: absolute;
    top: 82%;
    height: 145px;
    width: 100%;
    left: 0;
    z-index: 2;
    background: linear-gradient(to top, #151515, transparent);
  }

@media screen and (min-width : 600px) and (max-width : 990px) {

  .welcome-bar {
    width: 290px;
  }

  .content {
    font-size: 32px;
  }

}

@media screen and (min-width : 991px) {
  .description {
    font-size: 38px;
  }

  .welcome-bar {
    width: 305px;
  }

  .find-out-btn {
    height: 10vh;
    width: 30vh;
    font-size: 24px !important;
  }

}
