.initial-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url('../Images/Background4.jpg');
  background-size: cover;
  height: 100vh;
}

.initial-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 83vh;
    margin: auto 0;
    justify-content: space-around;
}

.name:hover {
  color: rgb(238, 161, 18);
  transition: all ease 0.3s;
}

.content{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 74vh;
  justify-content: space-around;
  margin: auto;
  font-size: 22px;
  font-weight: 800;
}

.initial-welcome {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 9vh;
}

.welcome-bar {
  background-color: #08277a;
  padding: 4px;
  width: 230px;
}

.initial-description {
  color: white;
  text-shadow:  2px 7px 15px #151515;
  font-weight: 700;
  font-size: 6.5vw;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
}
.initial-description p {
  margin: 5px 0;
  text-align: center;
}

.profile {
  display: none;
  width: 190px;
  align-self: flex-end;
  border-radius: 12px;
  box-shadow: 12px 10px 16px black
}

.find-out-btn {
  border-radius: 25px !important;
  height: 70px;
  font-size: 20px !important;
  width: 170px;
  z-index: 3;
  position: relative;
}

.shadow {
  position: absolute;
  height: 145px;
  width: 100%;
  align-self: flex-end;
  z-index: 2;
  background: linear-gradient(to top, #151515, transparent);
}

@media screen and (min-width : 700px) { 

  .initial-description { 
    font-size: 4.5vw;
  }

}

@media screen and (min-width : 992px) { 

  .initial-description { 
    font-size: 3.5vw;
  }

  .find-out-btn {
    font-size: 2.3vw !important;
    width: 18vw !important;
  }
}

