.navbar-container {
  background-color: #40916C;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 2);
  position: fixed !important;
  top: 0;
  overflow: hidden;
  width: 100%;
}

.welcome-text {
  color: black;
}



.nav-link {
  border-radius: 6px;
  margin: 0 25px;
  text-align: center;
  width:  fit-content;
}


.nav-link span {
  align-self: center;
}

.nav-link:hover {
  background: aqua;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-weight: 700;
  transition: 0.1s;
  border: 2px solid black;
  width: calc(20% + 20px);
}


.nav-link:hover span {
  color: black;
}


.nav-link:after {
  content: '»';
  opacity: 0;
  display: inline-flex;
  margin-left: 10px;
  font-size: 18px;
  transition: 0.2s;
  transform: rotate(90deg); 
}

.nav-link:hover:after {
  opacity: 1;
}



@media only screen and (min-width : 990px) {
  #basic-navbar-nav {
    margin-left: 35%;
  }
  .nav-link {
    display: inline-block;
    border-radius: 6px;
    margin: 0 28px;
    text-align: center;
    min-width:  120px;
    height: fit-content;
  }  

  .nav-link:hover {
    background: aqua;
    font-weight: 700;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: calc( 20% + 90px);
    transition: 0.1s;
  }
  
}
