.navbar-container {
  background-color: #001f71;
  box-shadow: 0 3px 6px rgba(10, 10, 10, 0.7);
  position: fixed !important;
  top: 0;
  width: 100%;
  padding: 12px !important;
  z-index: 3;
}

#name-box {
  margin: 20px 90px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
}

#name-box:hover {
  opacity: 1;
}

#name {
  color: white;
  background-color: transparent;
  border: none;
  font-weight: 800;
} 

.nav-link {
  border-radius: 6px;
  margin: 0 25px;
  text-align: center;
  width: fit-content;
}


.nav-link span {
  align-self: center;
  font-weight: 500;
}

.nav-link:hover {
  background: #e8973e;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-weight: 700;
  transition: 0.2s;
  width: calc(20% + 20px);
}


.nav-link:hover span {
  color: black;
  font-weight: 800;
}


.nav-link:after {
  content: '»';
  opacity: 0;
  display: inline-flex;
  margin-left: 10px;
  font-size: 18px;
  transition: 0.2s;
  transform: rotate(90deg); 
}

.nav-link:hover:after {
  opacity: 1;
}

@media only screen and (min-width : 990px) {
  #basic-navbar-nav {
    display: flex;
    justify-content: flex-end;
  }

  .nav-link {
    display: inline-block;
    border-radius: 6px;
    margin: 0 25px;
    text-align: center;
    min-width:  120px;
    height: fit-content;
  }

  .nav-link:hover {
    background: #e8973e;
    font-weight: 700;
    box-shadow: 10px 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: calc( 20% + 90px);
    transition: 0.1s;
  }
  
  #name-box {
    margin: 20px 15px;
    position: absolute;
    left: 0;
    opacity: 0.6;
  }
  
  
  #name {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 18px;
  }

  #name-box:hover {
    opacity: 1;
  }
  
}
