.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: linear-gradient(to top,  #066aff, #171717);
  height: 100vh;
  justify-content: flex-end;
}

.projects-container {
  height: 90.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.projects-bar {
  background-color: #0687ff;
  padding: 3px;
  width: 30vw;
  margin-bottom: 5px;
}

.projects-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-title-container h2 {
  font-size: 7vw;
}


.projects-slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrows-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50;
  z-index: 2;
  width: 95vw;
}

.right-arrow {
  font-size: 12vw;
  z-index: 10;
  color: white;
  cursor: pointer;
  user-select: none;
  opacity: 0.4;
  transition: all ease 0.3s;
}

.left-arrow {
  font-size: 12vw;
  z-index: 10;
  color: white;
  cursor: pointer;
  user-select: none;
  opacity: 0.4;
  transition: all ease 0.3s;
}

.left-arrow:hover {
  opacity: 1;
}
.right-arrow:hover {
  opacity: 1;
}

.slide {
  opacity: 0;
  transition-duration: all ease 0.5s;
}

.slide.active {
  opacity: 1;
  transition-duration: 0.1s;
  transform: scale(1.00);
}

.projects-box {
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: column;
width: 82vw;
padding-top: 5px;
background-color: #171717;
box-shadow: 10px 15px 20px black;
border-radius: 15px;
margin-top: 4px;
height: 80vh;
}

.projects-video-and-name-container {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 0;
}

.projects-video {
  width: 75vw;
  border-radius: 15px;
  margin-bottom: 8px;
}

.projects-name {
  border-top: 8px dotted white;
  max-width: 70vw;
  text-align: center;
}

.projects-description {
  width: 70vw;
  font-size: 17.5px;
}

.project-skill {
  background-color: #0c5eb1;
  padding: 11px;
  border-radius: 22px;
  margin: 4.5px;
  border: none;
  color: white;
}

.projects-skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 15px;
  padding-bottom: 8px;
}

.project-skill:hover {
  background-color: #007dfa;
  box-shadow: 2px 15px 50px black;
  transition: 0.8s !important;
}