label, input, select {
  color: #FFF;
  font-family: 'Poppins';
}

.projects-main-bg {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 90px;
}

.projects-main-container {
  width: 72.5vw;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.filters-container {
  box-sizing: border-box;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.select-role-filter {
  background-color: #222;
  border-radius: 6px;
  border: none;
  padding: 12px;
  width: 100%;
  outline: 0;
  appearance: none;
  position: relative;
  cursor: pointer;
}

.label-role-filter {
  position: relative;
}

.label-role-filter::after {
  content: url('../../images/icons/dropdown.svg');
  position: absolute;
  top: 54%;
  right: 12px;
  transform: rotate(90deg);
}

#search-by-stack {
  border-radius: 6px;
  padding: 12px;
  width: calc(100% - 26px);
  border: none;
  outline: 0;
  background-color: #222;
}

.input {
  margin-top: 6px;
}